html, body{
    margin: 0px;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.video-wrapper{
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.bg-video{
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}
.container-fluid{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
    position: absolute;
    flex-direction: column;
}
.login-box{
    display: flex;
    border: solid 1px black;
    border-radius: 6px;
    border: 1px solid rgb(221, 221, 228);
    background-color: white;
    min-width: 13.25%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    padding-top: 20px;
    padding-bottom: 54px;
    opacity: 0.89;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.301);
}
#login-form, label{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#login-form h2{
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
    background-image: linear-gradient(to right, #4885ED 0 20%, #DB3236 20% 38%, #F4C20D 38% 56%, #4885ED 56% 75%, #3CBA54 75% 85%, #DB3236 85% 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}
#login-form .sign-in-text{
    font-size: 23px;
}
#login-form p{
    font-size: 17px;
    line-height: 5px;
    margin: 15px;
}
input[type=email]{
    margin-top: 24px;
}
.box{
    font-size: 17px;
    padding: 15px;
    margin: 10px;
    border: 1px solid rgb(221, 221, 228);
    border-radius: 4px;
    outline-color: #266eeb;
    min-width: 13.15vw;
}
.login-box #login-form label a{
    align-self: flex-start;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    color: #4885ED;
    padding-left: 10px;
    margin-bottom: 20px;
}
#submit{
    font-weight: bold;
    font-size: 13px;
    color: white;
    background-color: #266eeb;
    padding: 10px;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    outline: none;
    align-self: stretch;
}
#submit:hover{
    cursor: pointer;
    background-color: #3261b1;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.301);
}