html, body {
    margin: 0px;
}
.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.login-box {
    display: flex;
    border: solid blue 4px;
    background-color: grey;
    min-width: 30%;
    min-height: 20%;
    flex-direction: column;
}